@mixin full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@mixin customize-text($font-size, $font-color, $margin) {
    font-size: $font-size;
    color: $font-color;
    margin: $margin;
}

@mixin line($line-width, $line-color) {
    content: '';
    position: absolute;
    width: $line-width;
    height: 3px;
    background-color: $line-color;
    top: 50px;
}

@mixin skill-bar ($color) {
    height: 22px;
    background-color: $color;
    border-radius: 10px;
    color: $bar-font-color;
}