@mixin full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@mixin customize-text($font-size, $font-color, $margin) {
    font-size: $font-size;
    color: $font-color;
    margin-bottom: $margin;
}