// Imports
@import 'variables';
@import 'mixins';
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 90px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    &-video {
        @include full-screen;
        overflow: hidden;
        video {
            min-width: 100%;
            min-height: 100%;
        }
    }
    &-overlay {
        @include full-screen;
        background-color: $overlay-backgound;
        z-index: 1;
        opacity: .75;
    }
    &-content {
        z-index: 2;
        h1 {
            @include customize-text(50px, $dark-header-font-color, 20px);
        }
        p {
            @include customize-text(22.5px, $dark-header-font-color, 50px);
        }
        .btn {
            @include customize-text(18px, $dark-header-font-color, 20px);
            border-radius: 25px;
            position: relative;
            overflow: hidden;
            background-image: linear-gradient( 255deg, $btn-color-1 0%, $btn-color-2 50%, $btn-color-3 100%);
            padding: 15px 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transition: all 0.3s;
        }
        .btn:hover {
            box-shadow: 0 0 20px rgba(180, 246, 255, 0.77);
            font-size: 23px;
        }
    }
}

.content {
    max-width: 784px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    text-align: center;
}

.header_nav {
    background-color: $dark-header-primary-color;
    height: 100px;
    width: 100vw;
    .img_logo {
        position: absolute;
        padding: 20px 30px;
        img {
            height: 60px;
        }
    }
    .nav_links {
        float: right;
        margin-right: 930px;
        a {
            display: inline-block;
            line-height: 110px;
            margin: 0 20px;
            color: $dark-header-font-color;
            font-size: 22px;
            transition: all .5s ease 0s;
        }
        a:hover {
            color: $hover-font-color;
        }
        .selected {
            color: $hover-font-color;
        }
    }
}

.menu-fixed {
    position: fixed;
    top: 0;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}