// Imports
@import 'variables';
@import 'mixins';
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.header_nav {
    background-color: $dark-header-primary-color;
    height: 120px;
    width: 100%;
}

.img_logo {
    position: absolute;
    padding: 20px 50px;
}

.img_logo img {
    height: 80px;
}

.nav_links {
    float: right;
    margin-right: 1000px;
}

.nav_links a {
    display: inline-block;
    line-height: 130px;
    margin: 0 10px;
    color: $dark-header-font-color;
    font-size: 22px;
    transition: all .5s ease 0s;
}

.nav_links a:hover {
    color: $hover-color;
}