// Imports
@import 'variables';
@import 'mixins';
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $dark-background-color;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    max-width: 784px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    text-align: center;
}

.landing-page {
    @include full-screen;
    video {
        min-width: 100%;
        min-height: 100%;
    }
}

.overlay {
    @include full-screen;
    background-color: $overlay-backgound;
    z-index: 1;
    opacity: .75;
}

.header-content {
    z-index: 2;
    h1 {
        font-size: 50px;
        padding-bottom: 15px;
        color: $dark-header-font-color;
    }
    p {
        font-size: 20px;
        display: block;
        padding-bottom: 45px;
        color: $dark-header-font-color;
    }
    .btn {
        font-size: 20px;
        color: $dark-header-font-color;
        background-color: $btn-color;
        padding: 15px 30px;
        border-radius: 10px;
    }
}

.header_nav {
    background-color: $dark-header-primary-color;
    height: 100px;
    width: 100%;
    .img_logo {
        position: absolute;
        padding: 20px 30px;
        img {
            height: 60px;
        }
    }
    .nav_links {
        float: right;
        margin-right: 930px;
        a {
            display: inline-block;
            line-height: 100px;
            margin: 0 20px;
            color: $dark-header-font-color;
            font-size: 22px;
            transition: all .5s ease 0s;
        }
        a:hover {
            color: $hover-color;
        }
    }
}

section {
    padding: 20px;
    width: 100%;
    height: 100vh;
    h2 {
        color: $title-color;
    }
    p {
        color: $dark-header-font-color;
        font-size: 18px;
        text-align: justify;
    }
}