// Dark mode colors
$dark-header-primary-color: #071537;
$dark-header-font-color: #fff;
$dark-background-color: #1f284a;
$dark-border-color: #7971EA;

/*------------------------------*/

// Light mode colors
$light-header-primary-color: #8cd7ff;
$light-header-font-color: #05163f;
$light-background-color: #cfdaff;
$light-border-color: #B983FF;

/*------------------------------*/

$hover-font-color: #c4c1ff;
$hover-background-color: #00e6df;
$title-color: #a4ebff;
$overlay-backgound: #303952;
$btn-color: #c44596;
$btn-color-1: #27d86c;
$btn-color-2: #26caf8;
$btn-color-3: #c625d0;