// Dark mode colors
$dark-header-primary-color: #1A2C5B;
$dark-header-font-color: #fff;
$dark-background-color: #495da2;
$dark-border-color: #7971EA;

/*------------------------------*/

// Light mode colors
$light-header-primary-color: #8cd7ff;
$light-header-font-color: #05163f;
$light-background-color: #cfdaff;
$light-border-color: #B983FF;

/*------------------------------*/

$hover-color: #c4c1ff;