@mixin box-sizing($sizing) {
    @each $vendor in ('', '-moz-', '-webkit-') {
        #{$vendor}box-sizing: $sizing;
    }
}

@mixin transform($transform) {
    @each $vendor in ('', '-moz-', '-webkit-', '-ms-', '-o-') {
        #{$vendor}transform: $transform;
    }
}

@mixin full-screen {
    height: 100%;
    width: 100%;
}

@mixin customize-text($font-size, $font-color, $margin) {
    font-size: $font-size;
    color: $font-color;
    margin: $margin;
}

@mixin line($line-width) {
    content: '';
    position: absolute;
    width: $line-width;
    height: 3px;
    background-color: $dark-primary-color;
    top: 50px;
}